{% extends 'base.html' %}
{% load static %}

{% block title %}
    All My Projects
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'portfolio/project.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/all-projects.css' %}">
{% endblock %}

{% block content %}
<section id = "all-projects">
    <h2>My Collected Projects</h2>

    <ul>
        {% for project in all_projects %}
            {% include "portfolio/includes/project.html" %}
        {% endfor %}
    </ul>
</section>

{% endblock %}