{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ project.title }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'portfolio/project-detail.css' %}">
{% endblock %}


{% block content %}
    <section id="summary">
        <h2>{{ project.title }}</h2>
        <div>
            {% for tag in project_tags %}
                <span class="tag">{{ tag.caption }}</span>
            {% endfor %}
        </div>
        <div>
            {% if project.link %}
                <h3 class="link">You can view the source code in <button><a href="{{ project.link }}">My GitHub Page</a></button></h3>
            {% endif %}
        </div>
        <article>
            <img src="{{ project.image.url }}" alt="{{ project.title }}">
            <address>By <a href="mailto:{{ project.author.email }}">{{ project.author|title }}</a></address>
            <div>
                Last Updated on <time>{{ project.date|date:"d M Y" }}</time>
            </div>
        </article>
    </section>

    <main>
        {{ project.content|linebreaks }}
    </main>
{% endblock %}